.feedback
{
    background-color: $color-white-cream;
}
.feedback__content
{
    
    width: 90%;
    margin: 0 auto;
    padding: $pd-2 0;
    h2{
        @include styleText($fs-3, $color-black-0, $fw-bold-1);
        padding-bottom: $pd-1;
    }
    .feedback__list
    {
        .feedback__item
        {
            // height: 260px;
            .feedback__text{

                background-color: #fff;
                border-radius: 3px;
                box-shadow: 0 1px 3px 0 rgba(20,23,28,.15);
                display: flex;
                flex-direction: column;
                height: 100%;
                min-height: 260px;
                padding: 32px;
                span{
                    @include styleText($fs-0 + 1px, $color-black-0, $fw-bold-1);
                    img, h4{
                        height: 64px;
                        width: 64px;
                        border-radius: 50%;
                        margin-right: 18px;
                    }
                    h4{
                        background-color: $color-gray-4;
                        text-align: center;
                        line-height: 64px;
                        display: inline-block;
                        @include styleText($fs-0 + 3px, $color-white-0, $fw-bold);
                        margin-bottom: 0;
                    }

                }
                p{
                    @include styleText($fs-0 + 1px, $color-black-light, $fw-normal);
                    padding-top: $pd-2;
                }
            }
            
            
            
           
        }
        
    }
    .owl-carousel
        {
            .owl-item{
                img{
                    display: inline-block;
                }
                
            }
            .owl-next{
                right: -2%;
                top: 40%;
            }
            .owl-prev{
                left: -2%;
                top: 40%;
            }
        }
    
       
        
}

@include responsive('extra-large')
{
    .feedback__content
    {
        
        .owl-carousel
        {
            .owl-next{
                right: -4%;
                
            }
            .owl-prev{
                left: -4%;
            }
        }
    }

    
}

@include responsive('small')
{
    .feedback__content
    {
        .owl-carousel
        {
            .owl-nav{
                display: none;
            }
            
        }
    }
}

@media screen and (min-width: 576px)
{
    .feedback__content
    {
        .owl-carousel
        {
           
            .owl-dots{
                
                display: none;
            }
        }
    }
}

