.intro{
    background: linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    display: block;
    .intro__content
    {
        padding: $pd-2 0;
        width: 85%;
        margin: auto;
        
        .intro__list
        {
            
            margin-left: 0;
            margin-right: 0;
            .intro__item
            {
                .row
                {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    color: white;
                    i
                    {
                        font-size: 36px   ;
                    }   

                }
            }
        }
        
    }
    
}

.intro__detail
{
    
    h6{
        @include styleText($fs-0+2px,normal,$fw-bold-1);
        margin-bottom: $mg-0;
    }
    
}

@include responsive('extra-large')
{
    .intro__list
    {
        .intro__item
        {
            i{
                display: none;
            }
            .intro__detail
            {
                text-align: center;
            }
    }
    }
    
}

@include responsive('medium')
{
    .intro{
        display: none;
    }
}